<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoryzacja</title>
    <link href="/src/public/output.css" rel="stylesheet">
</head>
<body>
    <p>Autoryzacja Poszła pomyslnie</p>
</body>
</html>